.Btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 2px 12px;
  height: 40px;
  background: linear-gradient(#fbfbfb, #f1f1f1);
  background-color: #f1f1f1;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.Btn:disabled {
  opacity: 0.6;
  cursor: default;
}
.Btn.md {
  height: 50px;
}
.Btn.lg {
  height: 60px;
}
.Btn.square {
  padding: 2px;
  width: 40px;
}
.Btn.square.md {
  width: 50px;
}
.Btn.square.lg {
  width: 60px;
}
.Btn.primary {
  background: linear-gradient(#f66834, #eb470c);
  width: 100%;
}

.Btn span {
  display: none;
  font-size: 13px;
  color: #525252;
  margin: 0 3px;
}
.Btn.primary span {
  display: inline-block;
  color: #fff;
}
.Btn.lg span {
  font-size: 15px;
}
.Btn span.primary {
  color: #eb470c;
}
@media (min-width: 546px) {
  .Btn span {
    display: inline-block;
  }
}
@media (min-width: 1199px) {
  .Btn {
    padding: 2px 15px;
    height: 50px;
  }
  .Btn.md {
    height: 60px;
  }
  .Btn.lg {
    height: 65px;
  }
  .Btn.square {
    width: 50px;
  }
  .Btn.square.md {
    width: 60px;
  }
  .Btn.square.lg {
    width: 65px;
  }
  .Btn span {
    font-size: 15px;
  }
  .Btn.lg span {
    font-size: 18px;
  }
}